.confirm__content{
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.confirm__heading{
    margin-bottom: 40px;
    text-align: center;
}

.form{
    margin: 0 auto;
    width: 70%;
}

.confirm-table{
    border: 1px solid #d2b48c;
}

.confirm-table__inner{
    width: 100%;
}

.confirm-table__header{
    padding: 15px;
    width: 30%;
    border-bottom: 1px solid #fff;
    background-color: #d2b48c;
    color: #fff;
}

.confirm-table__text{
    padding: 15px;
    border-bottom: 1px solid #d2b48c;
}

.confirm-table__text input{
    width: 100%;
    outline:none;
    border: none;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text{
    border-bottom-width: 0;
}

.form__button{
    margin-top: 30px;
    text-align: center;
}

.form__button-submit{
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 1px;
    background: #826046;
    color: #fff;
    cursor: pointer;
}

.form__button-a{
    margin-left: 50px;
    padding: 10px;
    height: 50px;
    color: #d2b48c;
    cursor: pointer;
}